<div class="about-section">
  <h1>About Us Page</h1>
  <p>Media XYZ was born in 2010 to help organisations with their IT requirements. Over the years, we have lived up to
    our promise and at the same time grown into an organisation that we are proud of. Our mission, today, is to deliver
    the best in the business by curating a culture of mutual success.</p>
</div>

<h2 style="text-align:center">Our Team</h2>

<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="25px grid">
    <div fxFlex="32.5%" fxFlex.xs="100%" fxFlex.sm="33.3%" *ngFor="let elem of imageArray">
      <mat-card class="mat-elevation-z4">
        <img mat-card-image src={{elem.url}}>
        <mat-card-content>
          <h2>{{elem.name}}</h2>
          <p class="title">{{elem.title}}</p>
          <p>{{elem.desc}}</p>
          <p class="email">{{elem.email}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-flat-button class="contact-btn">Contact</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
